//----------------------------------------------------------------------------------------------------------------------
// App Theme
//----------------------------------------------------------------------------------------------------------------------

@import "variables";
@import "bootstrap";
@import "overrides";

//----------------------------------------------------------------------------------------------------------------------

html,
body {
	height: 100%;
	position: relative;
	overflow: hidden;

	#main-app {
		.toast-container {
			position: fixed;
			width: 400px;
			bottom: 10px;
			left: 10px;
			z-index: 9001;
		}
	}
}

*:focus {
    outline: 0;
}

//----------------------------------------------------------------------------------------------------------------------
