//----------------------------------------------------------------------------------------------------------------------
// App Theme
//----------------------------------------------------------------------------------------------------------------------

@import "variables";
@import "bootstrap";
@import "overrides";

//----------------------------------------------------------------------------------------------------------------------

html,
body {
	height: 100%;
	position: relative;
	overflow: hidden;

	#main-app {
		.toast-container {
			position: fixed;
			width: calc(100% - 20px);
			max-width: 450px;
			bottom: 10px;
			left: 10px;
			z-index: 9001;

			@media(max-width: 450px)
			{
				bottom: 70px;
			}
		}
	}
}

*:focus {
    outline: 0;
}

//----------------------------------------------------------------------------------------------------------------------
